<!--
==================================================
block - Speakers
==================================================
-->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <% topSpeakers.forEach(speaker => { %>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <a href="/speakers/<%= speaker.shortname %>">
        <img
          src="/images/<%= speaker.shortname %>_tn.jpg"
          alt="Photo of <%= speaker.name %>"
          width="50%"
          class="bd-placeholder-img rounded-circle"
        />
      </a>

      <h2 class="fw-normal"><%= speaker.name %></h2>
      <p>
        <%= speaker.summary %>
      </p>
      <p>
        <a class="btn btn-secondary" href="/speakers/<%= speaker.shortname %>">View details &raquo;</a>
      </p>
    </div>
    <% }) %>
  </div>

  <!--
  ==================================================
  block - Features
  ==================================================
  -->

  <%- include(`./index__features`) %>

  <!--
  ==================================================
  endblock - Features
  ==================================================
  -->
</div>
<!--
==================================================
endblock - Speakers
==================================================
-->
