<div class="container">

<div class="row my-5">
  <div class="col-6">
    <h2>Enter a Feedback</h2>

    <% if(locals.errors) {%>
      <div class="alert alert-danger" role="alert">
        <% errors.forEach(function (error) {%>
          <li><%= error.msg %></li>
        <% }) %>
      </div>
    <% } %>

    <% if(locals.message) {%>
      <div class="alert alert-success" role="alert">
        <li><%= message %></li>
      </div>
    <% } %>

    <form method="POST" action="/feedback">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="textHelp">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col-6">
    <h2>Feedbacks</h2>
    <div class="accordion" id="accordionExample">
      <% feedback.forEach(function (items) { %>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#<%= items.name %>"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <%= items.name %> | <%= items.email %>
            </button>
          </h2>
        </div>
        <div id="<%= items.name %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <h3><strong><%= items.title %></strong></h3>
            <p><%= items.message %></p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
